@import "tailwindcss";

@theme {
    /* Menimpa font-sans bawaan Tailwind dengan Poppins */
    --font-sans: "Poppins";
}

@source "../views/**/*.blade.php";
@source "../js/**/*.js";

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.2s ease-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(4px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
